@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: #d6dbdc;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: #d6dbdc;
		--background-start-rgb: #0d1117;
		--background-end-rgb: #000000;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--foreground-rgb);
	background: linear-gradient(to bottom, transparent, var(--background-end-rgb)) var(--background-start-rgb);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
